{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign up
{% endblock %}

{% block content %}

<!-- flask flashes -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
    <h1>Create a new account</h1><br>
    <form  action="/sign_up" method="post">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.email) }}
        <!--quick forms was not submitting correctly-->
        <!--errors in any of both ways are being shown except the InputRequired-->
        {{ wtf.form_field(form.password) }}
      <button type="submit" class="btn btn-lg btn-primary btn-block">Register me</button>
    </form>
    <br>
    <h4>If you already have an account, let's <a href="{{url_for('sign_in')}}">Sign in</a></h4>
</div>

{% endblock %}
